<div class="jumbotron center">
    <h1>Flash Fluent</h1>
    <h2>eleve o nível de seus FlashCards</h2>
    <p><%= link_to "Estude Conosco!", signup_path , class: "btn btn-large btn-xlarge"%></p>
</div>

<div class="container homepage-details">
    <!-- Example row of columns -->
    <div class="row ">
        <div class="col-md-4 content-card">
            <div class="center">
                <div class="circle">
                    <div class="center homepage-icon">
                        <i class="glyphicon glyphicon-flag"></i>
                    </div>
                </div>
            </div>
            <h2>Taxonomia de Bloom</h2>
            <p>A Taxonomia de Bloom, desenvolvida por Benjamin Bloom, é o ponto de partida para o nosso método de ensino.
                Organizando os objetivos de aprendizagem em níveis que vão desde a simples leitura até a sua aplicação,
                essa estrutura proporciona um roteiro bem definido para o aprimoramento das habilidades linguísticas.
                No FlashFluent, o processo de seleção e leitura das palavras é o primeiro passo para o conhecimento. </p>
            <p><a class="btn btn-default btn-xlarge" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4 card-middle">
            <div class="center">
                <div class="circle">
                    <div class="center homepage-icon">
                        <i class="glyphicon glyphicon-bell"></i>
                    </div>
                </div>
            </div>
            <h2>Repetição</h2>
            <p>A repetição é a chave para a consolidação do aprendizado. No FlashFluent, incentivamos a prática regular
                como um elemento essencial. Através da revisitação de palavras e conceitos, os usuários têm a
                oportunidade de promover a familiaridade e, consequentemente, a fluência ao longo do
                tempo. </p>
            <p><a class="btn btn-default btn-xlarge" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4 content-card">
            <div class="center">
                <div class="circle">
                    <div class="center homepage-icon">
                        <i class="glyphicon glyphicon-education"></i>
                    </div>
                </div>
            </div>
            
            
            <h2>Conhecimento</h2>
            <p>A busca pelo conhecimento é o que impulsiona o FlashFluent. Proporcionando um ambiente virtual
                colaborativo, buscamos não apenas transmitir informações, mas cultivar o entendimento.
                Nossa plataforma não se limita à simples memorização; ela visa criar uma base sólida de
                compreensão que se estende além do contexto linguístico, capacitando os usuários a aplicarem seu
                conhecimento de maneira prática e significativa.</p>
            <p><a class="btn btn-default btn-xlarge" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
    </div>