<h1 align="center">FlashCard Word: <%= @card.word.capitalize %></h1></h1>
<div class="well col-md-8 col-md-offset-2">
    <h4 class="center description"><strong>Sobre a palavra</strong></h4>
    <hr />
    <%= @card.description%>
    <p>Created by: </p>
    <p>
        <small><%=@card.user.username%></small>
        <div class="pull-right">created: <%= time_ago_in_words(@card.created_at)%> ago.</div>
    </p>
</div>