<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2023 Letícia Godoy Development. &middot; <a href="https://github.com/leticia-godoy">About</a> &middot; <a href="#">Details</a></p>
</footer>